:root {
    --color0: rgb(255, 255, 255);
    --color1: rgb(230, 205, 180);
    --color2: rgb(180, 160, 150);
    --color3: rgb(90, 80, 75);
    --color4: rgb(214, 253, 205);

    --font-l: clamp(1rem, 4vw, 4rem);
    --font-m: clamp(0.9rem, 2vw, 2rem);
    --font-s: clamp(0.75rem, 2vw, 1.5rem);
    --font-xs: clamp(0.25rem, 1vw, 1rem);
}
main {
    display: flex;
    flex-wrap: wrap;
    background-image: url(img/hatter.jpg);
    background-size: cover;
}
p {
    margin: 20px;
    font-size: calc(var(--font-m) - 1.3px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color3);
    text-align: justify;
}
h1 {
    margin: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: var(--color3);
        text-align: justify;
}
.kep {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    height: 20rem;
    aspect-ratio: 3/2;
    border-radius: 1em;
}
.kepdiv{
    display: flex;
    justify-content: center;
}
.jobbp{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    flex-grow: 1;
}