:root{
    --color0: rgb(255, 255, 255);
    --color1: rgb(230, 205, 180);
    --color2: rgb(180, 160, 150);
    --color3: rgb(90, 80, 75);
    --color4: rgb(214, 253, 205);

    --font-l: clamp(1rem, 4vw, 4rem);
    --font-m: clamp(0.9rem, 2vw, 2rem);
    --font-s: clamp(0.75rem, 2vw, 1.5rem);
    --font-xs: clamp(0.25rem, 1vw, 1rem);
}


*{
    margin: 0 !important;
    padding: 0 !important;
}

main{
    height: 100%;
    background-color: var(--color1);
}

.container-fluid > .row{
    justify-content: space-evenly;
    > div, input{
        margin-block: 1rem !important;
        height: 30dvh;
        max-height: 90dvh;
    }
}


#kutya{
    
    /* flex: 0 0 90%;*/
    max-width: 100%;
    border: var(--color2) solid 0.5em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    background-color: var(--color3);
    
}

.g{
    position: absolute;
    left: 41vw;
    height: 30vh;
    width: 2%;
    background-color: var(--color2);
    display: flex;
    align-items: center;
    appearance: none;
    border-block: 15vh solid transparent;
    border-left: var(--color0) solid 1.8vw;
    cursor: pointer;

    &:checked ~ #kutya{
        flex: 0 0 90%;
        height: 40dvh;
    }

}