:root{
    --color0: rgb(255, 255, 255);
    --color1: rgb(230, 205, 180);
    --color2: rgb(180, 160, 150);
    --color3: rgb(90, 80, 75);
    --color4: rgb(214, 253, 205);

    --font-l: clamp(1rem, 4vw, 4rem);
    --font-m: clamp(0.9rem, 2vw, 2rem);
    --font-s: clamp(0.75rem, 2vw, 1.5rem);
    --font-xs: clamp(0.25rem, 1vw, 1rem);
}


*{
    margin: 0 !important;
    padding: 0 !important;
    image-rendering: optimizeSpeed;
}

main{
    min-height: 100dvh;
    height: fit-content;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 2em !important;

    > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3em;

        > div{
            flex-grow: 0.6;
            height: fit-content;
            min-width: 20em;
            width: min-content;
            max-width: 100%;
            background-color: var(--color3);
            border-top-left-radius: 2em;
            border-bottom-left-radius: 2em;
            border: var(--color2) solid 0.5em;
            display: flex;
            flex-wrap: wrap;
    
            > input{
                order: 1;
                appearance: none;
                flex-basis: 8%;
                flex-grow: 1;
                background-image: url(../allatok/src/nyil.png);
                background-size: cover;
                background-repeat: round;
                z-index: 10;
                cursor: pointer;
                border: var(--color2) solid 0.1px;
                image-rendering: -webkit-optimize-contrast;
            }
    
            > div{
                flex-basis: 92%;
                border-top-left-radius: 1.4em;
                border-bottom-left-radius: 1.4em;
                display: flex;
                flex-direction: column;
    
                > img{
                    height: 60%;
                    object-fit: cover;
                    border-top-left-radius: 1.4em;
                    border: var(--color2) solid 0.3vw;
                    border-right: none;
                    flex-grow: 1;
                    width: 100%;
                }
    
                > h2{
                    align-self: center;
                    text-align: center;
                    font-size: calc(var(--font-m) + var(--font-xs));
                    color: var(--color0);
                    font-family: Pacifico;
                    letter-spacing: 0.5vw;
                    width: 100%;
                }
    
            }
    
            > section{
                transform: scale(0);
                height: 0;
                width: 0;
                order: 1;
                gap: 2em;
                flex-direction: column;
                overflow-y: scroll;
                background-repeat: space;
    
                > div{
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    padding: 2em !important;
                    border-bottom: var(--color2) dashed 0.1em;
    
                    > div{
                        flex-basis: 40%;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
    
                        > img{
                            flex-basis: 80%;
                            object-fit: cover;
                            object-position: top;
                            border: var(--color2) solid 0.1em;
                            width: 50%;
                        }
    
                        > h3{
                            flex-basis: 20%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            color: var(--color1);
                            font-family: Verdana;
                            font-size: var(--font-l);
                            width: 10ch;
                        }
    
                    }
    
                    > p{
                        flex-basis: 55%;
                        font-size: var(--font-m);
                        font-family: Georgia, monospace;
                        color: var(--color1);
                        font-weight: bold;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        
                        &::first-letter{
                            font-size: var(--font-l);
                        }
                        
                    }
    
                }
    
                > div:nth-child(even){
                    > div{
                        order: 1;
                    }
                }

                > div:last-child{
                    border-bottom: none;
                }
            }
    
        }

        > section{
            background-color: var(--color0);
            width: 70vw;

            > div{
                min-height: 2em;
                font-size: var(--font-m);
                background-color: var(--color4);
                letter-spacing: 2vw;
                font-family: cursive;
                font-weight: bolder;
                color: var(--color0);
                display: flex;
                align-items: center;
                gap: 2vw;
                overflow: hidden;
                text-wrap: nowrap;

                > span{
                    animation-name: akcio;
                    animation-duration: 10s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
                > span:nth-child(1){
                    animation-delay: -3s;
                }
                > span:nth-child(2){
                    animation-delay: -2s;
                }
            }

            > section{
                display: flex;
                flex-wrap: wrap;
                background-color: var(--color3);
                border: var(--color2) solid;
                justify-content: center;
                align-items: center;

                >p{
                    flex-basis: 60%;
                    flex-grow: 1;
                    font-size: var(--font-s);
                    font-family: cursive;
                    color: var(--color1);
                    padding: 1em !important;

                    > span:nth-child(1){
                        font-size: 120%;
                        font-weight: bold;
                    }

                    > span:nth-child(4){
                        font-weight: bold;
                        text-decoration: line-through;
                    }

                    > span:nth-child(5){
                        font-weight: bold;
                        color: var(--color4);
                    }

                    > span:nth-child(7){
                        font-style: italic;
                    }
                }

                >img{
                    display: block;
                    width: 30%;
                    min-width: 10em;
                }
            }
        }
    }

}

@keyframes akcio{
    from{
        translate: 100vw;
    }
    to{
        translate: -120vw;
    }
}

#kutya > section{
    background-image: url(../allatok/src/mancs.jpg);
    background-size: 15%;
}


input:checked{
    background-image: url(../allatok/src/nyil2.png);
    height: 35vh;

    ~ div{
        width: 78vw;
        height: 35vh;

        > h2{
            flex-basis: 35%;
            border-bottom: var(--color2) solid 0.3vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    ~ section{
        display: flex;
        height: 60vh;
        width: 100%;
        transform: scale(1);
    }

}

@media screen and (width <= 900px) {
    main > div > div{
        
        > div{

            > h2{
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: calc(var(--font-l));
            }

        }

        > section{
            > div{
                flex-direction: column;
                > div{
                    > h3{
                        font-size: calc(var(--font-l) + var(--font-m));
                    }
                }

                > p{
                    font-size: calc(var(--font-m) + var(--font-xs));
                    font-family: Cambria, monospace;
                    text-align: center;

                    &::first-letter{
                        font-size: calc(var(--font-l) + var(--font-m));
                    }
                }
            }

            > div:nth-child(even){
                > div{
                    order: 0;
                }
            }
        }
    }
}

@media screen and (width <= 768px) {
    main > div > div{
        
        > div{

            > h2{
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: calc(var(--font-l) + var(--font-xs));
            }

        }

        > section{
            > div{
                flex-direction: column;
                > div{
                    > h3{
                        font-size: calc(var(--font-l) + var(--font-m));
                    }
                }

                > p{
                    font-size: calc(var(--font-s) + var(--font-xs) - 0.08rem);

                    &::first-letter{
                        font-size: calc(var(--font-l) + var(--font-m));
                    }
                }
            }
        }
    }
}