@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

html,body{margin:0;padding:0;box-sizing:border-box}

:root {
    /*========== Színek ==========*/
    --first-color: rgb(137, 206, 75);
    --first-color-alt: rgb(124, 189, 67);
    --first-color-light: rgb(178, 226, 120);
    --title-color: rgb(250, 250, 252);
    --text-color: rgb(179, 179, 183);
    --white-color: rgb(250, 250, 252);
    --black-color: rgb(10, 10, 11);
    --body-color: rgb(21, 21, 22);
    --container-color: rgb(31, 31, 33);
    --shadow-img: 0 0 48px rgba(137, 206, 75, 0.4);
    --gradient-card: linear-gradient(180deg, rgba(21, 21, 22, 1), rgba(77, 116, 57, 1));

  
    /*.5rem = 8px | 1rem = 16px*/
    --body-font: "Montserrat", sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
  
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
}


body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    display: grid;
    gap: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: 1rem;
}


/*========== HOME ==========*/

.home__container {
    padding-top: 2.5rem;
    row-gap: 2rem;

}

.home__img {
    width: 270px;
    justify-self: center;
}

.home__data {
    text-align: center;
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin: 1rem;
}

.home__title span {
    color: var(--first-color);
}

.home__description {
    margin-bottom: 3rem;
}

.home__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

    /*========== HOME -> BUTTON ==========*/
    .button {
        background-color: var(--white-color);
        color: var(--black-color);
        font-weight: var(--font-bold);
        padding: 0.5rem 1.5rem 0.5rem 0.5rem;
        border-radius: 4rem;
        display: inline-flex;
        align-items: center;
        column-gap: 0.5rem;
    }

    .button span {
        background-color: var(--first-color);
        padding: .5rem;
        font-size: 1.25rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: .4s;
    }

    .button:hover span {
        transform: translateX(.15rem) rotate(-30deg);
    }


/*========== TIPPEK ==========*/

.tipp__container {
    row-gap: 7.5rem;
}

.tipp__data {
    text-align: center;
}

.tipp__content {
    row-gap: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tipp__card {
    position: relative;
    width: 200px;
    background: var(--gradient-card);
    padding: 9rem 0.75rem 0rem 0.75rem;
    border: 2px solid var(--first-color-light);
    border-radius: 1.5rem;
}

.tipp__img {
    position: absolute;
    top: -4.5rem;
    left: 0;
    right: 0;
    width: 180px;
    margin: 0 auto;
    transition: 0.4s;
}

.tipp__title {
    font-size: var(--h2-font-size);
    text-align: center;
    margin-top: 4rem;
}

.tipp__card:nth-child(odd) {
    rotate: -5deg;
}

.tipp__card:nth-child(even) {
    justify-self: flex-end;
    rotate: 5deg;
}

.tipp__card:hover .tipp__img {
    transform: translateY(-0.5rem);
}

/*az nth-child(odd) az minden páratlan indexű elemet választ ki, az nth-child(even) pedig minden párosat, itt nekem tökéletesen alkalmazható design szempontjából*/

